.brochure {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 16.6rem;
	padding-top: 16.6rem;

	h3 {
		font-size: 3.6rem;
		font-weight: 500;
		line-height: 1.22;
		letter-spacing: 3.6px;
		color: #ffffff;
		padding-bottom: 2rem;
	}

	.btn {
		line-height: 5.8rem;
	}
}