.footer {
	background-color: #f2f2f2;
	padding-top: 9.5rem;
	padding-bottom: 9.5rem;

	&__menu {
		padding-bottom: 2rem;
	}

	&__menu-list {
		display: flex;
		justify-content: center;

		li {
			padding-right: 23px;

			&:last-child {
				padding-right: 0;
			}
		}

		a {
			font-size: 14px;
			font-weight: 600;
			letter-spacing: 0.28px;
			color: #333333;
			transition: all .3s;

			&:hover {
				color: #cd2028;
			}
		}
	}

	&__copyright {
		display: block;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.71;
		color: #333333;
		text-align: center;
	}
}