.intro {
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 30.8rem;
	padding-bottom: 18.4rem;

	&__panel {
		display: inline-block;
		padding: 6px 1.4rem;
		font-size: 1.4rem;
		font-weight: 500;
		letter-spacing: 1.4px;
		color: #ffffff;
		background-color: #cd2028;
		text-transform: uppercase;
		margin-bottom: 1.8rem;
	}

	h1 {
		max-width: 104.7rem;
		padding-bottom: 1.8rem;
	}

	&__link {
		font-size: 1.7rem;
		font-weight: 500;
		letter-spacing: 1.7px;
		color: #0d0d0d;
		transition: all .3s;

		&:hover {
			color: #cd2028;
		}
	}
}

.intro--center-bg {
	background-position: center;
}

.intro--inner {
	padding-top: 26.8rem;
	padding-bottom: 16rem;

	h1 {
		color: #fff;
	}
}

.intro--search {
	padding-top: 32.7rem;
	padding-bottom: 20.5rem;
}