@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/subset-HelveticaNeueCyr-Bold.eot');
    src: url('../fonts/subset-HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/subset-HelveticaNeueCyr-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}